#howToScreen > h1 {
    font-size: 80px;
    padding: 5%;
}

#howToScreen p {
    color: white;
    padding: 0 5% 5%;
    font-size: 1rem;
    line-height: 1;
    text-align: left;
}

#howToScreen ul{
    color: white;
    padding: 0 5% 5.5%;
    font-size: 1.2rem;
    margin-left: 40px;
    line-height: 1.9;
}
