*{
    text-align: center;
}

#splashScreen > img{
    width: 500px;
}

.green {
    background-color: green;
}
.yellow {
    background-color: yellow;
}
.red {
    background-color: red;
}

.show {
    display: block;
}
.hide{
    display: none;
}