*{
    text-align: center;
    font-family: sans-serif;
}

body {
    margin: 20px;
    width: 500px;
    overflow: hidden;
}

#gameScreen {
    padding: 20px;
    height: 550px;
    background-color: rgba(60, 18, 36, 0.672);
    color: white;
}

#howToScreen > h1 {
    font-size: 80px;
    padding: 5%;
}

#howToScreen p{
    color: white;
    padding: 0 5% 5%;
    font-size: 13px;
    text-align: left;
}

#howToScreen ul{
    color: white;
    padding: 0 5% 5%;
    font-size: 13px;
    margin-left: 40px;
    line-height: 20px;
}

#howToScreen button{
    height: 10%; 
    width: 30%;
    left: 65%;
}

#splashScreen,
#howToScreen, 
#winScreen, 
#loseScreen {
    height: 440px;
    color: yellow;
    background-color: rgb(60, 18, 36);
}

#splashScreen > img,
#winScreen > img,
#loseScreen > img {
    position: relative;
    top: 50px;
    width: 100%;
    height: auto;
}

#splashScreen > button,
#winScreen > button,
#loseScreen > button {
    height: 70px;
    width: 150px;
    margin-top: 65px;
}

#gameScreen > h1 {
    padding: 0;
    margin-bottom: 10px;
}

#terrace span {
    position: absolute;
}

.t0{
    top: 35%;
    left: 10%;
}

.t1{
    top: 35%;
    left: 35%;
}

.t2{
    top: 45%;
    left: 10%;
}

.t3{
    top: 45%;
    left: 35%;
}

#terrace button {
    position: absolute;
}

#table0 {
    top: 30%;
    left: 15%;
}

#table1 {
    top: 30%;
    left: 40%;
}

#table2 {
    top: 40%;
    left: 15%;
}

#table3 {
    top: 40%;
    left: 40%;
}

#scoreCount, #score {
    position: absolute;
    font-size: 30px;
    text-align: left;
    top: 55%;
}

#score {
    top: 58%;
}

#patienceCount, #patience {
    position: absolute;
    font-size: 30px;
    top: 55%;
    text-align: right;
    right: 40%;
}

#patience {
    top: 58%;
}

#timer {
    position: absolute;
    font-size: 30px;
    top: 26%;
    left: 27%;
    padding: 10px;
    width: fit-content;
    text-align: center;
    border: 2px solid white;
    border-radius: 25%;
    background-color: white;
    color: black;
}

.green {
    background-image: url(/img/images.jpeg);
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: lightcoral;
}

.show {
    display: block;
}

.hide{
    display: none;
}

#terrace > button {
    position: absolute;
    width: 70px;
    height: 70px;
    margin: 20px 20px 0;
    overflow: hidden;
}

#title {
    font-size: large;
}

#terrace > span {
    position: absolute;
}

#gameScreen {
    margin: 10px;  
}

#queue {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: lightgray;
    height: 180px;
}

#queue > div {
    width: 50px;
    height: 50px;
    margin-right: 40px;
}